body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 50px;

background-image: 
    linear-gradient(to right, rgba(0, 0, 0, 0.04) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.04) 1px, transparent 1px);
background-size: 280px 300px;
}

header {
  text-align: center;
  padding: 60px 20px 30px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.tagline {
  color: #555;
  font-size: 1.2rem;
}

section {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 8px 0;
  font-size: 1.1rem;
}

/* ----------------------ICONS------------------------- */
.icons img {
  width: 100%;
  display:flexbox;
  margin: 10px auto;
}
.tool {
  width: 100%;
  max-width: 540px;
  display:flexbox;
  margin: 10px auto;
}
.lang {
  width: 100%;
  max-width: 275px;
  display:flexbox;
  margin: 10px auto;
}
/* ----------------------------------------------- */

.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  align-items: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
}

.project-card {
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px) translateX(-5px) translateZ(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.project-card a {
  text-decoration: none;
  color: #676767;
}

.project-card a:hover {
  text-decoration: underline;
}

.status {
  display: inline-block;
  margin-top: 10px;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: bold;
}

.status.done {
  background-color: #e0f7e9;
  color: #2e7d32;
}

.status.thinking {
  background-color: #fff3cd;
  color: #856404;
}

.status.submitted {
  background-color: #d1ecf1;
  color: #0c5460;
}

.connect .socials {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.connect a {
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: 0.3s ease;
}

.connect a:hover {
  background-color: #ccc;
}
